# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vim
*.swp
*.cpp~
*.tlog
*.log

\debug
\.vs
\ipch
器件管理系统/器件管理系统.opensdf
器件管理系统/器件管理系统.vcxproj.filters
器件管理系统/器件管理系统.sdf
器件管理系统/器件管理系统.sdf
*.sdf